*.latexmain
*.aux
*.lof
*.idx
*.ilg
*.ind
*.log
*.out
*.toc
*.swp
*.glg
*.glo
*.gls
*.ist
*~
*.lot
*.lol
*.backup
*.o
*.nav
*.snm
*.vrb
umach
uasm
core
UMachGui
UMachCore
src/gui/Makefile
src/gui_core/Makefile
src/gui/moc_*.cpp
src/gui/qrc_*.cpp
Bericht/UMach-Projekt-Bericht.pdf
